#header{
  height:100%;
}

.btn-getting-started{
  border:2px solid #4070F4;
  padding:8px;
  border-radius:20px;
  color:black;
  
}

.btn-getting-started:hover{
  color:white;
  background-color: #4070F4 ;
text-decoration:none;
}

strong{
  color:#4070F4;
}

h2{
  font-size:20px;
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input{
  width:30vw;
}

.images{
  margin-top:50px;
  height:70vh;
  width:100%;
}
